<div class="row">
  <h1><%= @event.name %></h1>
</div>

<hr />
<div class="row">
  <div class="col-xs-6">
    <p>Event type: <%= @event.category %></p>
  </div>

  <div class="col-xs-6">
    <div class="dropdown dropdown-beside-HOA pull-right">
      <button class="btn btn-default dropdown-toggle" type="button" id="actions-dropdown" data-toggle="dropdown">
        Event Actions
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="actions-dropdown">
        <li role="presentation">
          <%= link_to 'Edit Event Details', edit_event_path(@event), role: 'menuitem', tabindex: '-1' %>
        </li>
      </ul>
    </div>

    <div class="btn-HOA pull-right">
      <% hangout_uid = (@hangout && @hangout.live?) ? @hangout.uid : '' %>
      <%= render partial: 'event_instances/hangout_button', locals: {
          event_instance_id: hangout_uid,
          event_id: @event.id,
          category: @event.category,
          project_id: '',
          title: topic(@event, @event_schedule)
        } %>
    </div>
  </div>
</div>
<hr />
<div class="row">
<i class="fa fa-calendar"></i>
  <%= @event.next_event_occurrence_with_time[:time].strftime('%A, %B %d, %Y') %><br />
  <%= @event.next_event_occurrence_with_time[:time].strftime('%l:%M %p') %> -
  <%= @event.instance_end_time.strftime('%l:%M %p') %>
</div>
<hr />

<div class="row">
  <p><%= @event.description %></p>
  <p><a href="#">Learn more about Scrums</a></p>
</div>

<%= javascript_include_tag 'events.js' %>
