
<div class="row">
  <div class="col-xs-12">
    <h1><%= @event.name %></h1>
  </div>
</div>
<hr/>

<div class="row">
  <div class="col-xs-7">
    <h4>Event type: <%= @event.category %></h4>
    <p>Scrum Master: ???</p>
    <hr />
    <p>Going:</p>
    <!-- Redner users with presenter from project show page -->
      <ul class="media-list">
        <% @event.followers.each do |follower| %>
            <% present follower do |presenter| %>
                <li style="display: inline">
                  <a href="<%= user_path(follower) %>" data-toggle="tooltip"
                     data-placement="top" title="<%= presenter.display_name %>">
                    <%= presenter.gravatar_image(class: 'projects-user-avatar') %>
                  </a>
                </li>
            <% end %>
        <% end %>
      </ul>
    <!-- End user gravatars -->
    <br/>
    <% if user_signed_in? %>
      <h3>Are you attendind?</h3>
      <div>
        <% if current_user.following?(@event) %>
          <%= link_to 'Not this time', unfollow_event_path(@event) %>
        <% else  %>
          <%= link_to 'Yes of course', follow_event_path(@event) %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="col-xs-5">
    <div class="dropdown dropdown-beside-HOA pull-right">
      <button class="btn btn-default dropdown-toggle" type="button" id="actions-dropdown" data-toggle="dropdown">
        Event Actions
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="actions-dropdown">
        <li role="presentation">
          <%= link_to 'Edit Event Details', edit_event_path(@event), role: 'menuitem', tabindex: '-1' %>
        </li>
      </ul>
    </div>

    <div class="btn-HOA pull-right">
      <% if user_signed_in? %>
        <% hangout_uid = (@recent_hangout && @recent_hangout.live?) ? @recent_hangout.uid : '' %>
        <%= render partial: 'event_instances/hangout_button', locals: {
            event_instance_id: hangout_uid,
            event_id: @event.id,
            category: @event.category,
            project_id: '',
            title: topic(@event, @event_schedule)
          } %>
      <% end %>
    </div>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h4>Next scheduled event:</h4>

    <div class="calendar-block">
      <i class="fa fa-calendar"></i>

      <div class="calendar-text">
        <%= @event.next_event_occurrence_with_time[:time].strftime('%A, %B %d, %Y') %><br />
        <%= @event.next_event_occurrence_with_time[:time].strftime('%l:%M %p') %> -
        <%= @event.instance_end_time.strftime('%l:%M %p') %>
      </div>
    </div>
    <div id="upcoming-events" style="display:none">
      <% @event_schedule[1..4].each do |event_date| %>
         <div class="calendar-block">
           <i class="fa fa-calendar"></i>
           <div class="calendar-text">
               <%= event_date[:time].strftime('%A, %B %d, %Y') %><br/>
               <%= event_date[:time].strftime('%l:%M %P') %> -
               <%= @event.instance_end_time.strftime('%l:%M %p') %>
           </div>
         </div>
      <% end %>
    </div>
    <a id="see-more-dates" href="#" >See more dates for this event</a>

  </div>

  <div class="col-xs-12 col-sm-6">
    <% if @recent_hangout && @recent_hangout.live? %>
      <div class="event-notice">
        This event is now live!
        <br />
        <%= link_to 'Join now', @recent_hangout.hangout_url %>
      </div>
    <% else %>
      <div class="help-block pull-right">
        This event isn't live!
      </div>
    <% end %>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-xs-12">
    <p><%= @event.description %></p>
    <p><%= link_to 'Learn more about Scrums', static_page_path('Getting started') %></p>

    <% if @event.schedule.recurrence_rules.map{ |rule| rule.class.name }.include?('IceCube::WeeklyRule') %>
      <p class="help-block">Occurs weekly at the specified times</p>
    <% end %>

  </div>
</div>

<%= javascript_include_tag 'events.js' %>
