<div class="row">
  <h1><%= @event.name %></h1>
</div>

<hr />
<div class="row">
  <div class="col-xs-8">
    <p>Event type: <%= @event.category %></p>
  </div>
  <div class="col-xs-4">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="actions-dropdown" data-toggle="dropdown">
        Event Actions
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="actions-dropdown">
        <li role="presentation">
          <%= link_to 'Edit Event Details', edit_event_path(@event), role: 'menuitem', tabindex: '-1' %>
        </li>
      </ul>
    </div>
  </div>
</div>
<hr />

<div class="row">
  <p><%= @event.description %></p>
</div>

<%= javascript_include_tag 'events.js' %>
